.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__menu-container {
        height: 6rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__bars {
        margin-left: 2rem;
        font-size: 3rem;
        color: white;
    }

    &__times {
        margin-left: 2rem;
        font-size: 3.5rem;
        color: white;
    }

    &__logo {
        margin-left: 5rem;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }


    &__cart-section {
        position: relative;
        margin-right: 2rem;
        display: flex;
        align-items: center;
    }

    &__cart-icon {
        font-size: 3rem;
        color: white;
        margin-right: 2rem;
    }

    &__cart-item-count {
        position: absolute;
        top: -35%;
        right: 55%;
        background-color: red;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__cart-item-num {
        color: white;
    }

    &__cart-text {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }

}