.select-order-type {

    &__container {
        max-width: 110rem;
        margin: 1rem auto;
        padding: 0 2rem;
    }

    &__main {
        height: min-content;
        background-color: #fff;
        border: 1px solid rgba(85,85,85,.2);
        border-radius: 3px;
    }


    &__header {
        padding: 1rem;
        color: #333;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1;
        color: white;
        text-align: center;

        background-color: $primary-colour;

        @media only screen and (max-width: $bp-mobile) {
            font-size: 2.5rem;
        }
    }

    &__control-group {
        padding: 2rem;
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-mobile) {
            justify-content: space-around;
        }
    }

    &__control-group--1, &__control-group--2 {
        background-color: #0078ae;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        transition: all .4s;
        cursor: pointer;

        outline: none;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $primary-colour;
        }
    }

    &__control-group--text {
        font-size: 1.5rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
    }

    &__control-group--or {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 .5rem;
        text-transform: uppercase;
        color: #555;

    }
}

.three-D__btn {
    position: relative;

    // background: -webkit-radial-gradient(#0078ae, #0078ae);
    // background: -o-radial-gradient(#0078ae, #0078ae);
    // background: -moz-radial-gradient(#0078ae, #0078ae);
    // background: radial-gradient(#0078ae, #0078ae);

    background: -webkit-radial-gradient(hsl(251, 100%, 50%), hsl(251, 100%, 40%));
    background: -o-radial-gradient(hsl(251, 100%, 50%), hsl(251, 100%, 40%));
    background: -moz-radial-gradient(hsl(251, 100%, 50%), hsl(251, 100%, 40%));
    background: radial-gradient(hsl(251, 100%, 50%), hsl(251, 100%, 40%));

    text-shadow: 0 -1px 0 #2B00EC;
    border: solid 1px hsl(251, 100%, 20%);
    z-index: 4;
    transition: all .4s;

    box-shadow: inset 0 1px 0 hsl(251, 100%, 50%),
                0 2px 0 hsl(251, 100%, 20%),
                0 3px 0 hsl(251, 100%, 18%),
                0 4px 0 hsl(251, 100%, 16%),
                0 5px 0 hsl(251, 100%, 14%),
                0 6px 0 hsl(251, 100%, 12%),
                0 7px 0 hsl(251, 100%, 10%),
                0 8px 0 hsl(251, 100%, 8%),
                0 9px 0 hsl(251, 100%, 6%);
}

.three-D__btn--hover {
    background: -webkit-radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 15%));
    background: -o-radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 15%));
    background: -moz-radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 15%));
    background: radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 15%));

    top: 2px;

    box-shadow: inset 0 1px 0 hsl(251, 100%, 50%),
    0 2px 0 hsl(251, 100%, 20%),
    0 3px 0 hsl(251, 100%, 18%),
    0 4px 0 hsl(251, 100%, 16%),
    0 5px 0 hsl(251, 100%, 14%);
    // 0 6px 0 hsl(251, 100%, 12%),
    // 0 7px 0 hsl(251, 100%, 10%);

    transition: all linear .5s;
} 

/*.three-D__btn:active {
    background: -webkit-radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 35%));
    background: -o-radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 35%));
    background: -moz-radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 35%));
    background: radial-gradient(hsl(251, 100%, 45%), hsl(251, 100%, 35%));

    top: 2px;

    box-shadow: inset 0 1px 0 hsl(251, 100%, 50%),
    0 2px 0 hsl(251, 100%, 20%),
    0 3px 0 hsl(251, 100%, 18%),
    0 4px 0 hsl(251, 100%, 16%),
    0 5px 0 hsl(251, 100%, 14%),
    0 6px 0 hsl(251, 100%, 12%),
    0 7px 0 hsl(251, 100%, 10%);
}*/
