//COLOUR
$primary-colour: #006491;

// FONT
$default-font-size: 2rem;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-mobile: 41em;    // 650px
$bp-small: 37.5em;    // 600px;
$bp-smallest: 21.85em  // 350px